.App {
  display: flex;
  flex-direction: column;
  align-items: center;

}

ul {
  list-style: none;
  width: 500px;
  border: 1px solid black;
  padding: 20px;
}

.App li {
  display: flex;
  gap: 20px;
  align-items: center;
  word-break:break-all;
  border: 1px solid black;
  padding: 20px;
  margin-bottom: 10px;
}

.delete {
  color: red;
  cursor: pointer;
}

input:checked + span {
  text-decoration: line-through;
}